# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Dataset folders
dataset/
noneimages/
tar_files/
extracted/

# Large dataset files
*.tar
*.zip
*.gz
*.json

# Model weights
*.pth
*.pt
*.ckpt

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp